.employees {
  padding: 25px 50px;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__title {
    font-weight: 600;
    margin: 0;
  }
  @media screen and (max-width: 890px) {
    padding: 20px 35px;
    width: calc(100% - 70px);
  }
}
