@import url("./assets/style/normalize.css");
@import url("./assets/fonts/Inter-Web/inter.css");
/* 
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  /* min-height: 100vh; *
  background-color: #eaeefffd;
  max-width: 1280px;
  /* width: 100vw; 
}*/

a, a:visited {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: none;
  color: #50514a;
}



:root {
  min-height: 100vh;
  font-family: Inter, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;

  color-scheme: light dark;
  /* background-color: rgba(248, 253, 217, 0.5); */
  background: rgb(80, 81, 74);
  background: linear-gradient(
    144deg,
    rgba(80, 81, 74, 0.5046393557422969) 0%,
    rgba(248, 253, 217, 1) 15%,
    rgba(248, 253, 217, 1) 30%,
    rgba(189, 205, 104, 0.7455357142857143) 50%,
    rgba(248, 253, 217, 1) 70%,
    rgba(248, 253, 217, 0.7679446778711485) 85%,
    rgba(80, 81, 74, 0.5102415966386555) 100%
  );
  color: #50514a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* @media screen and (max-width: 768px) {
:root {
  padding: 0 ;
}

} */
